name: iOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get dependencies
        run: flutter pub get
        working-directory: onestop-mobile-app

      - name: Build iOS
        run: flutter build ios --release --no-codesign
        working-directory: onestop-mobile-app

      - name: Zip Build for Artifact
        run: |
          cd onestop-mobile-app/build/ios/iphoneos
          mkdir Payload
          cp -r Runner.app Payload/
          zip -r ios-build.ipa Payload/
          
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: onestop-mobile-app/build/ios/iphoneos/ios-build.ipa
